<form method="post" enctype="multipart/form-data">
    <label>Titre :</label><br>
    <input type="text" name="titre" required><br><br>

    <label>Image :</label><br>
    <input type="file" name="image" accept="image/*" required><br><br>

    <label>Description :</label><br>
    <textarea name="description" required></textarea><br><br>

    <label for="prix" class="form-label">Prix (FCFA)</label>
    <input type="number" class="form-control" name="prix" required>

    <button type="submit">Ajouter</button>
</form>
<a href="/admin_galerie">Retour</a>
