<h2>Modifier</h2>
<form method="post">
    <label>Titre :</label><br>
    <input type="text" name="titre" value="{{ realisation['titre'] }}" required><br><br>

    <label>Description :</label><br>
    <textarea name="description" required>{{ realisation['description'] }}</textarea><br><br>

    <label for="prix" class="form-label">Prix (FCFA)</label>
    <input type="number" class="form-control" id="prix" name="prix" value="{{ realisation['prix'] }}" required>

    <button type="submit">Mettre à jour</button>
</form>
<a href="/admin_galerie">Retour</a>
